@charset "utf-8";

h3.row {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.list {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.item .content a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

#list .content {
    position: relative;
}

#list .content:hover,
#list .content:active {
    border: 0.2rem solid #007b9f;
}

small, .small {
    font-size: 80%;
}

.info {
    margin-bottom: 1rem;
}

.content {
    border: 0.2rem solid #008cba;
}

.pick .content {
    border-color: #b0d0e0;
}

.content, .status {
    box-sizing: border-box;
    width: 100%;
}

.focus, .trash {
    font: normal normal normal 1em/1 FontAwesome;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: lightgray;
}

.focus {
    float: left;
    margin-left: 0.25em;
}

.trash {
    float: right;
    margin-right: 0.25em;
}

.selected .content {
    background-color: rgba(0, 123, 159, 0.15);
}

.selected.in-focus .content:after {
    content: "";
    font: normal normal normal 1em FontAwesome;
    line-height: inherit;

    position: absolute;
    right: 7.5%;
    z-index: -1;
}

.in-focus .focus {
    color: red;
}

i {
    font: normal normal normal 0.8em/1 FontAwesome;
}

.selected-icon {
    color: rgba(0, 123, 159, 0.5);
}

.in-focus-icon {
    color: red;
}

.items {
    min-height: 6.1875rem;
}

/**
 * Font Awesome
 */
@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
