@charset "utf-8";

body {
    margin: 0.25rem;
}

#header {
    margin-bottom: 2rem;
}

.list {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.item a {
    display: inline-block;
    width: 100%;
    border: 0.2rem solid #008cba;
}

.item a:hover,
.item a:active {
    border: 0.2rem solid #007b9f;
}

.item a.selected, .item a.trailing.selected {
    background-color: rgba(0, 123, 159, 0.2);
}

.item a.selected, .item a.trailing {
    background-color: rgba(0, 123, 159, 0.09);
}

small {
    font-size: 80%;
}