<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Backbone.Select 1.5.5: Focusing on one selected item in a Select.Many collection, using custom labels (AMD)</title>
    <meta name="description" content="Backbone.Select 1.5.5: Focusing on one selected item in a Select.Many collection, using custom labels (AMD)">

    <!-- ATTN Foundation loaded without JS - stay clear of JS-driven widgets, or add the JS setup -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/hashchange/backbone.select/1.5.5/demo/common.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/hashchange/backbone.select/1.5.5/demo/amd/jsbin/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/hashchange/backbone.select/1.5.5/demo/amd/focus.css">

    <script id="item-template" type="text/x-template">
        <li class="item"><div class="content"><a href="#"><%= id %></a></div></li>
    </script>

    <script id="selected-template" type="text/x-template">
        <li class="item pick"><div class="content"><%= id %></div><div class="action"><a href="#" class="focus"></a><a href="#" class="trash"></a></div></li>
    </script>

    <script id="in-focus-template" type="text/x-template">
        <li class="item pick in-focus"><div class="content"><%= id %></div><div class="action"><a href="#" class="trash"></a></div></li>
    </script>
</head>
<body>

    <section id="header">
        <h1 class="row">Backbone.Select</h1>
        <h2 class="row">Focusing on one selected item in a Select.Many collection, using custom labels (AMD)</h2>
    </section>

    <section>

        <h3 class="row">Select.Many collection</h3>
        <p class="small info row">Click to select, <kbd>Ctrl</kbd>/<kbd>⌘</kbd> click to focus.</p>

        <div class="items row">
            <ul id="list" class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 list"></ul>
        </div>

        <h3 class="row">Selected <i class="selected-icon"></i></h3>

        <div class="items row">
            <ul id="selected" class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 list"></ul>
        </div>

        <h3 class="row">In focus <i class="in-focus-icon"></i></h3>
        <p class="small info row">Any number of items can be selected. Of the selected items, one can be in focus.</p>

        <div class="items row">
            <ul id="in-focus" class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 list"></ul>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.js"></script>
    <script src="https://cdn.rawgit.com/hashchange/backbone.select/1.5.5/demo/amd/rjs/output/parts/vendor.js"></script>

    <script src="https://cdn.rawgit.com/lindsayevans/outline.js/0d16b1edc9139854d2870989962ded04a488832f/outline.js"></script>
</body>
</html>
