@charset "utf-8";

body {
    margin: 0.25rem;
}

#header {
    margin-bottom: 2rem;
}

#header h1, #header h2 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

#build-info {
    position: relative;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: #ecfaff;
}

#build-info a {
    display: block;
    position: absolute;
    top: 0.15rem;
    right: 0.6rem;
    color: lightgrey;
}

#build-info a:hover, #build-info a:active {
    color: #007b9f;
}

